body {
    font-family: 'Poppins', sans-serif;
}

/* SIDEBAR MENU HOVER */
#sidebar-menu ul li a, #sidebar-menu ul li button {
  color: rgba(100, 116, 139, 1);
}
#sidebar-menu ul li a:hover, #sidebar-menu ul li button:hover {
  color: rgba(168, 85, 247, 1);
}

/* SCROLLBAR */
#main-sidebar::-webkit-scrollbar {
  width: 8px;
}
/* #main-sidebar::-webkit-scrollbar-track {

} */
#main-sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(243, 243, 243);
  border: 1.5px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
}
#main-sidebar:hover::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209); 
}
#main-sidebar::-webkit-scrollbar-thumb:hover {
  background: rgb(185, 185, 185); 
}

body::-webkit-scrollbar {
  width: 12px;
  border-left: 1px solid rgb(231, 231, 231);
}
body::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209); 
  border: 2px solid rgb(241, 245, 249);
  border-radius: 10px;
}
body:hover::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209); 
}
body::-webkit-scrollbar-thumb:hover {
  background: rgb(185, 185, 185); 
}

aside {
  min-width: 288px;
}

/* @media screen and (max-width: 365px) {
  aside {
    padding-bottom: 5rem !important;
  }
} */